<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}} ")> 
    <title>Index</title>
</head>
<body>
    <div class="menu" id="menu">
       <label>Wybierz zakres danych</label>
       <select id="select">
        <option value="one">1 dzień</option>
        <option value="seven">ostatnie 7 dni</option>
        <option value="thirty">ostanie 30 dni</option>
       </select>
       <button onclick="goTo()">Potwierdź</button>
         

    </div>
   <script src="{{ url_for('static', filename='script.js')}}"></script>
   
</body>
</html>