<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data.css')}} ")>
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <table>
            <tr>
                <td class="columnName">{{machineName}}</td>
            </tr>
            <tr>
                <td class="columnName">{{columName[0]}}</td> <td class="columnName">{{columName[1]}}</td> <td class="columnName">{{columName[2]}}</td> <td class="columnName">{{columName[3]}}</td> <td class="columnName">{{columName[4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[0][0]}}</td> <td>{{sevenDaysData[0][1]}}</td> <td>{{sevenDaysData[0][2]}}</td> <td>{{sevenDaysMachineStoppage[0]}}</td> <td>{{sevenDaysData[0][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[1][0]}}</td> <td>{{sevenDaysData[1][1]}}</td> <td>{{sevenDaysData[1][2]}}</td> <td>{{sevenDaysMachineStoppage[1]}}</td> <td>{{sevenDaysData[1][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[2][0]}}</td> <td>{{sevenDaysData[2][1]}}</td> <td>{{sevenDaysData[2][2]}}</td> <td>{{sevenDaysMachineStoppage[2]}}</td> <td>{{sevenDaysData[2][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[3][0]}}</td> <td>{{sevenDaysData[3][1]}}</td> <td>{{sevenDaysData[3][2]}}</td> <td>{{sevenDaysMachineStoppage[3]}}</td> <td>{{sevenDaysData[3][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[4][0]}}</td> <td>{{sevenDaysData[4][1]}}</td> <td>{{sevenDaysData[4][2]}}</td> <td>{{sevenDaysMachineStoppage[4]}}</td> <td>{{sevenDaysData[4][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[5][0]}}</td> <td>{{sevenDaysData[5][1]}}</td> <td>{{sevenDaysData[5][2]}}</td> <td>{{sevenDaysMachineStoppage[5]}}</td> <td>{{sevenDaysData[5][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[6][0]}}</td> <td>{{sevenDaysData[6][1]}}</td> <td>{{sevenDaysData[6][2]}}</td> <td>{{sevenDaysMachineStoppage[6]}}</td> <td>{{sevenDaysData[6][4]}}</td>
            </tr>
            
        

        </table>
        <div class="buttons">
            <button onclick="seven181()">Maszyna 181</button>
            <button onclick="seven230()">Maszyna 230</button>
            <button onclick="seven254()">Maszyna 254</button>
            <button onclick="seven268()">Maszyna 268</button>
            <button onclick="seven273()">Maszyna 273</button>
            <button onclick="seven269()">Maszyna 269</button>

            <button id="backButton" onclick="backToMainPage()">Powrót</button>
        </div>

       
        <img src="data:image/png;base64,{{ chart1 }}" width="800px">
        <img src="data:image/png;base64,{{ chart2 }}" width="800px">
        <img src="data:image/png;base64,{{ chart3 }}" width="800px">
        <img src="data:image/png;base64,{{ chart4 }}" width="800px">
        <img src="data:image/png;base64,{{ chart5 }}" width="800px">

        
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>