<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data.css')}} ")>
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <table>
            <tr>
                <td>{{machineName}}</td>
            </tr>
            <tr>
                <td>{{columName[0]}}</td> <td>{{columName[1]}}</td> <td>{{columName[2]}}</td> <td>{{columName[3]}}</td> <td>{{columName[4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[0][0]}}</td> <td>{{sevenDaysData[0][1]}}</td> <td>{{sevenDaysData[0][2]}}</td> <td>{{sevenDaysMachineStoppage[0]}}</td> <td>{{sevenDaysData[0][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[1][0]}}</td> <td>{{sevenDaysData[1][1]}}</td> <td>{{sevenDaysData[1][2]}}</td> <td>{{sevenDaysMachineStoppage[1]}}</td> <td>{{sevenDaysData[1][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[2][0]}}</td> <td>{{sevenDaysData[2][1]}}</td> <td>{{sevenDaysData[2][2]}}</td> <td>{{sevenDaysMachineStoppage[2]}}</td> <td>{{sevenDaysData[2][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[3][0]}}</td> <td>{{sevenDaysData[3][1]}}</td> <td>{{sevenDaysData[3][2]}}</td> <td>{{sevenDaysMachineStoppage[3]}}</td> <td>{{sevenDaysData[3][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[4][0]}}</td> <td>{{sevenDaysData[4][1]}}</td> <td>{{sevenDaysData[4][2]}}</td> <td>{{sevenDaysMachineStoppage[4]}}</td> <td>{{sevenDaysData[4][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[5][0]}}</td> <td>{{sevenDaysData[5][1]}}</td> <td>{{sevenDaysData[5][2]}}</td> <td>{{sevenDaysMachineStoppage[5]}}</td> <td>{{sevenDaysData[5][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[6][0]}}</td> <td>{{sevenDaysData[6][1]}}</td> <td>{{sevenDaysData[6][2]}}</td> <td>{{sevenDaysMachineStoppage[6]}}</td> <td>{{sevenDaysData[6][4]}}</td>
            </tr>
            
            <tr>
                <td>Łącznie</td> 
            </tr>

        </table>
        <div class="buttons">
        <form action="http://localhost:5000/sevenDays/181" method="POST"><input type="submit" value="Maszyna 181"></form>
        <form action="http://localhost:5000/sevenDays/230" method="POST"><input type="submit" value="Maszyna 230"></form>
        <form action="http://localhost:5000/sevenDays/254" method="POST"><input type="submit" value="Maszyna 254"></form>
        <form action="http://localhost:5000/sevenDays/268" method="POST"><input type="submit" value="Maszyna 268"></form>
        <form action="http://localhost:5000/sevenDays/273" method="POST"><input type="submit" value="Maszyna 273"></form>
        <form action="http://localhost:5000/sevenDays/269" method="POST"><input type="submit" value="Maszyna 269"></form>
        <button id="backButton" onclick="backToMainPage()">Powrót</button>
        </div>

        
    </div>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>