<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data.css')}} ")>
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <table>
            <tr>
                <td>{{machineName}}</td>
            </tr>
            <tr>
                <td>{{columName[0]}}</td> <td>{{columName[1]}}</td> <td>{{columName[2]}}</td> <td>{{columName[3]}}</td> <td>{{columName[4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[0][0]}}</td> <td>{{sevenDaysData[0][1]}}</td> <td>{{sevenDaysData[0][2]}}</td> <td>{{sevenDaysMachineStoppage[0]}}</td> <td>{{sevenDaysData[0][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[1][0]}}</td> <td>{{sevenDaysData[1][1]}}</td> <td>{{sevenDaysData[1][2]}}</td> <td>{{sevenDaysMachineStoppage[1]}}</td> <td>{{sevenDaysData[1][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[2][0]}}</td> <td>{{sevenDaysData[2][1]}}</td> <td>{{sevenDaysData[2][2]}}</td> <td>{{sevenDaysMachineStoppage[2]}}</td> <td>{{sevenDaysData[2][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[3][0]}}</td> <td>{{sevenDaysData[3][1]}}</td> <td>{{sevenDaysData[3][2]}}</td> <td>{{sevenDaysMachineStoppage[3]}}</td> <td>{{sevenDaysData[3][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[4][0]}}</td> <td>{{sevenDaysData[4][1]}}</td> <td>{{sevenDaysData[4][2]}}</td> <td>{{sevenDaysMachineStoppage[4]}}</td> <td>{{sevenDaysData[4][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[5][0]}}</td> <td>{{sevenDaysData[5][1]}}</td> <td>{{sevenDaysData[5][2]}}</td> <td>{{sevenDaysMachineStoppage[5]}}</td> <td>{{sevenDaysData[5][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[6][0]}}</td> <td>{{sevenDaysData[6][1]}}</td> <td>{{sevenDaysData[6][2]}}</td> <td>{{sevenDaysMachineStoppage[6]}}</td> <td>{{sevenDaysData[6][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[7][0]}}</td> <td>{{sevenDaysData[7][1]}}</td> <td>{{sevenDaysData[7][2]}}</td> <td>{{sevenDaysMachineStoppage[7]}}</td> <td>{{sevenDaysData[7][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[8][0]}}</td> <td>{{sevenDaysData[8][1]}}</td> <td>{{sevenDaysData[8][2]}}</td> <td>{{sevenDaysMachineStoppage[8]}}</td> <td>{{sevenDaysData[8][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[9][0]}}</td> <td>{{sevenDaysData[9][1]}}</td> <td>{{sevenDaysData[9][2]}}</td> <td>{{sevenDaysMachineStoppage[9]}}</td> <td>{{sevenDaysData[9][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[10][0]}}</td> <td>{{sevenDaysData[10][1]}}</td> <td>{{sevenDaysData[10][2]}}</td> <td>{{sevenDaysMachineStoppage[10]}}</td> <td>{{sevenDaysData[10][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[11][0]}}</td> <td>{{sevenDaysData[11][1]}}</td> <td>{{sevenDaysData[11][2]}}</td> <td>{{sevenDaysMachineStoppage[11]}}</td> <td>{{sevenDaysData[11][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[12][0]}}</td> <td>{{sevenDaysData[12][1]}}</td> <td>{{sevenDaysData[12][2]}}</td> <td>{{sevenDaysMachineStoppage[12]}}</td> <td>{{sevenDaysData[12][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[13][0]}}</td> <td>{{sevenDaysData[13][1]}}</td> <td>{{sevenDaysData[13][2]}}</td> <td>{{sevenDaysMachineStoppage[13]}}</td> <td>{{sevenDaysData[13][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[14][0]}}</td> <td>{{sevenDaysData[14][1]}}</td> <td>{{sevenDaysData[14][2]}}</td> <td>{{sevenDaysMachineStoppage[14]}}</td> <td>{{sevenDaysData[14][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[15][0]}}</td> <td>{{sevenDaysData[15][1]}}</td> <td>{{sevenDaysData[15][2]}}</td> <td>{{sevenDaysMachineStoppage[15]}}</td> <td>{{sevenDaysData[15][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[16][0]}}</td> <td>{{sevenDaysData[16][1]}}</td> <td>{{sevenDaysData[16][2]}}</td> <td>{{sevenDaysMachineStoppage[16]}}</td> <td>{{sevenDaysData[16][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[17][0]}}</td> <td>{{sevenDaysData[17][1]}}</td> <td>{{sevenDaysData[17][2]}}</td> <td>{{sevenDaysMachineStoppage[17]}}</td> <td>{{sevenDaysData[17][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[18][0]}}</td> <td>{{sevenDaysData[18][1]}}</td> <td>{{sevenDaysData[18][2]}}</td> <td>{{sevenDaysMachineStoppage[18]}}</td> <td>{{sevenDaysData[18][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[19][0]}}</td> <td>{{sevenDaysData[19][1]}}</td> <td>{{sevenDaysData[19][2]}}</td> <td>{{sevenDaysMachineStoppage[19]}}</td> <td>{{sevenDaysData[19][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[20][0]}}</td> <td>{{sevenDaysData[20][1]}}</td> <td>{{sevenDaysData[20][2]}}</td> <td>{{sevenDaysMachineStoppage[20]}}</td> <td>{{sevenDaysData[20][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[21][0]}}</td> <td>{{sevenDaysData[21][1]}}</td> <td>{{sevenDaysData[21][2]}}</td> <td>{{sevenDaysMachineStoppage[21]}}</td> <td>{{sevenDaysData[21][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[22][0]}}</td> <td>{{sevenDaysData[22][1]}}</td> <td>{{sevenDaysData[22][2]}}</td> <td>{{sevenDaysMachineStoppage[22]}}</td> <td>{{sevenDaysData[22][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[23][0]}}</td> <td>{{sevenDaysData[23][1]}}</td> <td>{{sevenDaysData[23][2]}}</td> <td>{{sevenDaysMachineStoppage[23]}}</td> <td>{{sevenDaysData[23][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[24][0]}}</td> <td>{{sevenDaysData[24][1]}}</td> <td>{{sevenDaysData[24][2]}}</td> <td>{{sevenDaysMachineStoppage[24]}}</td> <td>{{sevenDaysData[24][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[25][0]}}</td> <td>{{sevenDaysData[25][1]}}</td> <td>{{sevenDaysData[25][2]}}</td> <td>{{sevenDaysMachineStoppage[25]}}</td> <td>{{sevenDaysData[25][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[26][0]}}</td> <td>{{sevenDaysData[26][1]}}</td> <td>{{sevenDaysData[26][2]}}</td> <td>{{sevenDaysMachineStoppage[26]}}</td> <td>{{sevenDaysData[26][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[27][0]}}</td> <td>{{sevenDaysData[27][1]}}</td> <td>{{sevenDaysData[27][2]}}</td> <td>{{sevenDaysMachineStoppage[27]}}</td> <td>{{sevenDaysData[27][4]}}</td>
            </tr>

            
            <tr>
                <td>{{sevenDaysData[28][0]}}</td> <td>{{sevenDaysData[28][1]}}</td> <td>{{sevenDaysData[28][2]}}</td> <td>{{sevenDaysMachineStoppage[28]}}</td> <td>{{sevenDaysData[28][4]}}</td>
            </tr>

            <tr>
                <td>{{sevenDaysData[29][0]}}</td> <td>{{sevenDaysData[29][1]}}</td> <td>{{sevenDaysData[29][2]}}</td> <td>{{sevenDaysMachineStoppage[29]}}</td> <td>{{sevenDaysData[29][4]}}</td>
            </tr>


            

        </table>

    </table>
    <div class="buttons">
        <form action="http://localhost:5000/thirtyDays/181" method="POST"><input type="submit" value="Maszyna 181"></form>
        <form action="http://localhost:5000/thirtyDays/230" method="POST"><input type="submit" value="Maszyna 230"></form>
        <form action="http://localhost:5000/thirtyDays/254" method="POST"><input type="submit" value="Maszyna 254"></form>
        <form action="http://localhost:5000/thirtyDays/268" method="POST"><input type="submit" value="Maszyna 268"></form>
        <form action="http://localhost:5000/thirtyDays/273" method="POST"><input type="submit" value="Maszyna 273"></form>
        <form action="http://localhost:5000/thirtyDays/269" method="POST"><input type="submit" value="Maszyna 269"></form>
        <button id="backButton" onclick="backToMainPage()">Powrót</button>
    </div>

    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>