<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data.css')}} ")>
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <table>
            <tr>
                <td class="columnName">{{machineName}}</td>
            </tr>
            <tr>
                <td class="columnName">{{columName[0]}}</td> <td class="columnName">{{columName[1]}}</td> <td class="columnName">{{columName[2]}}</td> <td class="columnName">{{columName[3]}}</td> <td class="columnName">{{columName[4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[0][0]}}</td> <td>{{thirtyDaysData[0][1]}}</td> <td>{{thirtyDaysData[0][2]}}</td> <td>{{thirtyDaysMachineStoppage[0]}}</td> <td>{{thirtyDaysData[0][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[1][0]}}</td> <td>{{thirtyDaysData[1][1]}}</td> <td>{{thirtyDaysData[1][2]}}</td> <td>{{thirtyDaysMachineStoppage[1]}}</td> <td>{{thirtyDaysData[1][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[2][0]}}</td> <td>{{thirtyDaysData[2][1]}}</td> <td>{{thirtyDaysData[2][2]}}</td> <td>{{thirtyDaysMachineStoppage[2]}}</td> <td>{{thirtyDaysData[2][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[3][0]}}</td> <td>{{thirtyDaysData[3][1]}}</td> <td>{{thirtyDaysData[3][2]}}</td> <td>{{thirtyDaysMachineStoppage[3]}}</td> <td>{{thirtyDaysData[3][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[4][0]}}</td> <td>{{thirtyDaysData[4][1]}}</td> <td>{{thirtyDaysData[4][2]}}</td> <td>{{thirtyDaysMachineStoppage[4]}}</td> <td>{{thirtyDaysData[4][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[5][0]}}</td> <td>{{thirtyDaysData[5][1]}}</td> <td>{{thirtyDaysData[5][2]}}</td> <td>{{thirtyDaysMachineStoppage[5]}}</td> <td>{{thirtyDaysData[5][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[6][0]}}</td> <td>{{thirtyDaysData[6][1]}}</td> <td>{{thirtyDaysData[6][2]}}</td> <td>{{thirtyDaysMachineStoppage[6]}}</td> <td>{{thirtyDaysData[6][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[7][0]}}</td> <td>{{thirtyDaysData[7][1]}}</td> <td>{{thirtyDaysData[7][2]}}</td> <td>{{thirtyDaysMachineStoppage[7]}}</td> <td>{{thirtyDaysData[7][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[8][0]}}</td> <td>{{thirtyDaysData[8][1]}}</td> <td>{{thirtyDaysData[8][2]}}</td> <td>{{thirtyDaysMachineStoppage[8]}}</td> <td>{{thirtyDaysData[8][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[9][0]}}</td> <td>{{thirtyDaysData[9][1]}}</td> <td>{{thirtyDaysData[9][2]}}</td> <td>{{thirtyDaysMachineStoppage[9]}}</td> <td>{{thirtyDaysData[9][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[10][0]}}</td> <td>{{thirtyDaysData[10][1]}}</td> <td>{{thirtyDaysData[10][2]}}</td> <td>{{thirtyDaysMachineStoppage[10]}}</td> <td>{{thirtyDaysData[10][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[11][0]}}</td> <td>{{thirtyDaysData[11][1]}}</td> <td>{{thirtyDaysData[11][2]}}</td> <td>{{thirtyDaysMachineStoppage[11]}}</td> <td>{{thirtyDaysData[11][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[12][0]}}</td> <td>{{thirtyDaysData[12][1]}}</td> <td>{{thirtyDaysData[12][2]}}</td> <td>{{thirtyDaysMachineStoppage[12]}}</td> <td>{{thirtyDaysData[12][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[13][0]}}</td> <td>{{thirtyDaysData[13][1]}}</td> <td>{{thirtyDaysData[13][2]}}</td> <td>{{thirtyDaysMachineStoppage[13]}}</td> <td>{{thirtyDaysData[13][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[14][0]}}</td> <td>{{thirtyDaysData[14][1]}}</td> <td>{{thirtyDaysData[14][2]}}</td> <td>{{thirtyDaysMachineStoppage[14]}}</td> <td>{{thirtyDaysData[14][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[15][0]}}</td> <td>{{thirtyDaysData[15][1]}}</td> <td>{{thirtyDaysData[15][2]}}</td> <td>{{thirtyDaysMachineStoppage[15]}}</td> <td>{{thirtyDaysData[15][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[16][0]}}</td> <td>{{thirtyDaysData[16][1]}}</td> <td>{{thirtyDaysData[16][2]}}</td> <td>{{thirtyDaysMachineStoppage[16]}}</td> <td>{{thirtyDaysData[16][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[17][0]}}</td> <td>{{thirtyDaysData[17][1]}}</td> <td>{{thirtyDaysData[17][2]}}</td> <td>{{thirtyDaysMachineStoppage[17]}}</td> <td>{{thirtyDaysData[17][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[18][0]}}</td> <td>{{thirtyDaysData[18][1]}}</td> <td>{{thirtyDaysData[18][2]}}</td> <td>{{thirtyDaysMachineStoppage[18]}}</td> <td>{{thirtyDaysData[18][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[19][0]}}</td> <td>{{thirtyDaysData[19][1]}}</td> <td>{{thirtyDaysData[19][2]}}</td> <td>{{thirtyDaysMachineStoppage[19]}}</td> <td>{{thirtyDaysData[19][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[20][0]}}</td> <td>{{thirtyDaysData[20][1]}}</td> <td>{{thirtyDaysData[20][2]}}</td> <td>{{thirtyDaysMachineStoppage[20]}}</td> <td>{{thirtyDaysData[20][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[21][0]}}</td> <td>{{thirtyDaysData[21][1]}}</td> <td>{{thirtyDaysData[21][2]}}</td> <td>{{thirtyDaysMachineStoppage[21]}}</td> <td>{{thirtyDaysData[21][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[22][0]}}</td> <td>{{thirtyDaysData[22][1]}}</td> <td>{{thirtyDaysData[22][2]}}</td> <td>{{thirtyDaysMachineStoppage[22]}}</td> <td>{{thirtyDaysData[22][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[23][0]}}</td> <td>{{thirtyDaysData[23][1]}}</td> <td>{{thirtyDaysData[23][2]}}</td> <td>{{thirtyDaysMachineStoppage[23]}}</td> <td>{{thirtyDaysData[23][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[24][0]}}</td> <td>{{thirtyDaysData[24][1]}}</td> <td>{{thirtyDaysData[24][2]}}</td> <td>{{thirtyDaysMachineStoppage[24]}}</td> <td>{{thirtyDaysData[24][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[25][0]}}</td> <td>{{thirtyDaysData[25][1]}}</td> <td>{{thirtyDaysData[25][2]}}</td> <td>{{thirtyDaysMachineStoppage[25]}}</td> <td>{{thirtyDaysData[25][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[26][0]}}</td> <td>{{thirtyDaysData[26][1]}}</td> <td>{{thirtyDaysData[26][2]}}</td> <td>{{thirtyDaysMachineStoppage[26]}}</td> <td>{{thirtyDaysData[26][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[27][0]}}</td> <td>{{thirtyDaysData[27][1]}}</td> <td>{{thirtyDaysData[27][2]}}</td> <td>{{thirtyDaysMachineStoppage[27]}}</td> <td>{{thirtyDaysData[27][4]}}</td>
            </tr>

            
            <tr>
                <td>{{thirtyDaysData[28][0]}}</td> <td>{{thirtyDaysData[28][1]}}</td> <td>{{thirtyDaysData[28][2]}}</td> <td>{{thirtyDaysMachineStoppage[28]}}</td> <td>{{thirtyDaysData[28][4]}}</td>
            </tr>

            <tr>
                <td>{{thirtyDaysData[29][0]}}</td> <td>{{thirtyDaysData[29][1]}}</td> <td>{{thirtyDaysData[29][2]}}</td> <td>{{thirtyDaysMachineStoppage[29]}}</td> <td>{{thirtyDaysData[29][4]}}</td>
            </tr>


            

        </table>

    </table>
    <div class="buttons">
        <button onclick="thirty181()">Maszyna 181</button>
        <button onclick="thirty230()">Maszyna 230</button>
        <button onclick="thirty254()">Maszyna 254</button>
        <button onclick="thirty268()">Maszyna 268</button>
        <button onclick="thirty273()">Maszyna 273</button>
        <button onclick="thirty269()">Maszyna 269</button>
        <button id="backButton" onclick="backToMainPage()">Powrót</button>
    </div>

    <img src="data:image/png;base64,{{ chart1 }}" width="800px">
    <img src="data:image/png;base64,{{ chart2 }}" width="800px">
    <img src="data:image/png;base64,{{ chart3 }}" width="800px">
    <img src="data:image/png;base64,{{ chart4 }}" width="800px">
    <img src="data:image/png;base64,{{ chart5 }}" width="800px">
    </div>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>